/* General */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

/* Header */
header {
    background-color: #333;
    color: white;
    padding: 40px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

header p {
    font-size: 1.2rem;
}

/* Sección de miembros */
.team {
    padding: 40px 0;
    background-color: #fff;
}

.team h2 {
    font-size: 2rem;
    text-align: center;
}

.team-members {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.team-member {
    width: 18%;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.team-member h3 {
    font-size: 1.2rem;
    margin: 10px 0;
}

.team-member p {
    font-size: 1rem;
}

.portfolio-link {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}
